/* Specify box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
hr {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

strong {
  font-weight: bold;
}

/* Removing internal padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Removing external padding */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}
/* Set the default basic settings for body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* We remove the standard styling for all ul and il that have a class attribute*/
// ul[class] {
//   list-style: none;
//   li {
//     list-style: none;
//   }
// }

/* Elements a that do not have a class are reset to default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

ul,
ol {
  list-style: none;
}

/* Making it easier to work with images */
img {
  max-width: 100%;
  display: block;
}

/* We indicate a clear periodicity in the data flow of the article*/

/* Inheriting fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Removing all animations and transitions for people who prefer not to use them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
