@use "../checkout-shared";

.checkout-payment-section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 1;
  min-height: 12rem;

  &__cards {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
  }

  &.checkout-card .checkout-card-footer-link {
    margin-top: auto;
  }
}
